h1 {
  text-align: center;
}

.parent {
  display: flex;
}

.item1,
.item2 {
  width: 150px;
  height: 150px;
  padding: 20px;
  border: 10px solid rgb(86, 14, 146);
  background-color: rgb(222, 247, 6);
  margin: 30px;
}

.item1 {
  box-sizing: border-box;
}

.item2 {
  box-sizing: content-box;
}
